[Desktop Entry]
Name=st
GenericName=Terminal
Comment=Simple terminal emulator for the X window system

Type=Application
Icon=st
Categories=Development;System;
Keywords=shell;prompt;command;commandline;cmd;terminal;terminalemulator;

Exec=st
Terminal=false
StartupNotify=false
